<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hopecam Intro Email</title>
  </head>
  <body>
    {% block content %}{% endblock %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
  <div>
      This email tool is a work in progress, please report any issues to grasbergerm@gmail.com.<br>
      The tool was created in order to save time for Hopecam volunteers by creating emails and
      automating other processes.<br>
      In general, here is how the tool works, from a high level.<br>
      On the login page, you enter your name, some Apricot credentials, and your Outlook
      credentials.<br>
      Your name is used for two purposes, as a value for the email signature and as a way to look up
      your caseload. If 'Matt Grasberger' is entered, the list of Volunteer/Intern Reports is
      searched for "Matt's Caseload" or "Matt's Report"<br>
      For this reason it is important to use the same name as your report in Apricot.
      The apricot credentials are used to log in to apricot, to retrieve the caseload, different
      Hopecam applications, and to update Hopecam applications with new values entered in the tool.
      Your Outlook credentials are used to send the email.<br>

      On the email page, you are able to edit the pricipal email, best contact email, and who the letter
      is addressed to. Double click these fields to edit.<br>
      The fields in red are the fields that have been filled in from the Hopecam application on Apricot
      and the associated School Information report.<br>
      For values that are not editable, such as the Child's name or School Name, please update these
      values directly in Apricot. Once the values are updated, you can refresh the page to see the new
      values in the newly generated email.<br>
      <br>
      After the email has been visually validated, the email can be sent by clicking 'Send Email'
  </div>
  </body>
</html>