{% extends "base.html" %}

{% block content %}
	<!-- One -->
	<section id="one">
		<div class="container">
			<header class="major">
				<h2>About Me</h2>
				<p>Programmer with an interest in teaching.
					<br />
				</p>
			</header>
			<p>I'm an automation engineer working for Coveros in the Northern Virginia area. I enjoy hiking, biking, and cooking in my free time. In 2011, I travelled to Brazil for foreign exchange where I learned Portuguese through immersion. I love to travel and experience different cultures, people, and food. I'm always looking for speaking and writing opportunities, check out my <a href="MatthewGrasberger.pdf">résumé</a> if you'd like to talk.</p>
		</div>
	</section>

	<!-- Two -->
	<section id="two">
		<div class="container">
			<h3>Things I Can Do</h3>
			<p>Other than my career as an automation engineer (see  <a href="MatthewGrasberger.pdf">résumé</a>), I enjoy scripting different simulations in Python and teaching kids programming languages like Python and programming tools like Scratch.</p>
			<ul class="feature-icons">
				<li class="fa-code">Python scripting</li>
				<li class="fa-language">Teach kids programming</li>
				<li class="fa-pencil-square-o">Create course material</li>
				<li class="fa-file-code-o">Software development in general (Check out my <a href="MatthewGrasberger.pdf">résumé</a>)</li>
			</ul>
		</div>
	</section>

	<!-- Three -->
	<section id="three">
		<div class="container">
			<h3>Projects</h3>
			<p>A few projects I've worked on in my free time.</p>
			<div class="features">
				<article>
					<a href="https://github.com/grasbergerm/2048" class="project"><img class="image" src="images/pic01.png" alt="" />
						<div class="inner">
							<h4>2048 in Python</h4>
							<p>A clone of the popular sliding tile game 2048, written in Python. </p>
						</div>
					</a>
				</article>
				<article>
					<a href="https://github.com/grasbergerm/Reddit-Background-Changer" class="project"><img class="image" src="images/pic02.jpg" alt="" />
						<div class="inner">
							<h4>Reddit Background Changer</h4>
							<p>Pulls a random image from the top 25 images of a subreddit and sets it as the desktop background, programmed in Python.</p>
						</div>
					</a>
				</article>
				<article>
					<a href="https://github.com/grasbergerm/MontyHallSimulation" class="project"><img class="image" src="images/pic03.jpg" alt="" />
						<div class="inner">
							<h4>Monty Hall Simulation</h4>
							<p>Simulation of the Monty Hall Problem scripted in Python.</p>
						</div>
					</a>
				</article>
				<article>
					<a href="https://github.com/grasbergerm/BurkeLakeApp" class="project"><img class="image" src="images/burkelake.gif" alt="" />
						<div class="inner">
							<h4>Burke Lake App</h4>
							<p>An app made for use with the parcourse exercise equipment at Burke Lake. The app uses GPS to show a video of proper exercise form when the user is near certain exercise equipment. <a href="https://www.youtube.com/watch?v=cgdriCBDnFo">Here's a demo.</a></p>
						</div>
					</a>
				</article>
			</div>
		</div>
	</section>
{% endblock %}