{% extends "base.html" %}

{% block content %}
<!-- One -->
<section id="one">
	<div class="container">
		<header class="major">
			<h2>Stuff I've Written</h2>
		</header>
		<div style="padding: 0 0 2em 0">
			<h3><a href="https://www.techtarget.com/contributor/Matthew-Grasberger">For TechTarget</a></h3>
			<h4>2019</h4>
			March 29th, 2019: <a href="https://searchsoftwarequality.techtarget.com/tip/Apply-automated-security-scanning-during-app-development">Apply automated security scanning during app development</a>
			<h4>2020</h4>
			February 20th, 2020: <a href="https://searchsoftwarequality.techtarget.com/tip/How-to-use-Selenium-IDE-for-record-and-playback-testing">How to use Selenium IDE for record and playback testing</a><br>
			April 2nd, 2020: <a href="https://searchsoftwarequality.techtarget.com/feature/How-to-evaluate-test-automation-languages">How to evaluate test automation languages</a><br>
			April 16th, 2020: <a href="https://searchsoftwarequality.techtarget.com/feature/How-to-get-started-with-automation-test-scripts">How to get started with automation test scripts</a><br>
			May 28th, 2020: <a href="https://searchsoftwarequality.techtarget.com/tip/3-common-challenges-of-mobile-application-testing">3 common challenges of mobile application testing</a><br>
			July 17th, 2020: <a href="https://searchsoftwarequality.techtarget.com/tip/Follow-this-Dockerfile-tutorial-to-create-a-dev-environment">Follow this Dockerfile tutorial to create a dev environment</a><br>
			August 25th, 2020: <a href="https://searchsoftwarequality.techtarget.com/tip/4-ways-to-minimize-test-automation-maintenance">4 ways to minimize test automation maintenance</a><br>
			September 25th, 2020: <a href="https://searchsoftwarequality.techtarget.com/tip/Learn-how-to-perform-TDD-with-a-simple-example">Learn how to perform TDD with a simple example</a><br>
		</div>
		<h3>Personal Writing</h3>
		<h4>2019</h4>
		June 15th, 2019: <a href="https://docs.google.com/document/u/1/d/e/2PACX-1vTXNhnud5MGUwnE3oxq_l85nRDiFz5iaxdBdbQfEKP7A1N-6xF8zvn06xkUs9ZhpTLmEQCM5jJ7aKOu/pub">BMW Cleveland Delivery</a><br>
		<h4>2020</h4>
		January 1st, 2020: <a href="https://docs.google.com/document/d/e/2PACX-1vSFE1MJoMkh9t4WahgBGTRvZ5sw0dMSHaMSzR-qNkFq6K4Qw_3TDD-oiii-u03Evi2NWDM0OUxJLpdG/pub">Cartagena Christmas</a><br>
		February 13th, 2020: <a href="https://docs.google.com/document/d/e/2PACX-1vSOYFSE0NWx7Jzi_zYmXjVCvvdUkXKwNwn4JwtPN6zfzx-ol95PPir6DtapF9YZVtvxnq7ngrEyid67/pub">Happy in the Headlands</a><br>
		March 30th, 2020: <a href="https://docs.google.com/document/d/e/2PACX-1vTiVZ0eBfzxnnZ7lfPM-bCxFAmDUTC-CzvDfnr6EOkebPAtrWTyBCX0jZ6VXYtpzWHit6sQXpLUzC6R/pub">Avoiding the Apocalypse</a>
	</div>
</section>
{% endblock %}
